body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.tablero{
    margin:  10vh auto; 
    border: 2px solid #000;
    height: 70dvh;
    width: 40vw;
    display: grid;
    grid-template-rows: repeat(8,1fr);
   

}

.tablero__row{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}


/* numeroN: le decimos cada tanto agarreme una casilla si le sumamos 
un numero es como decir de ese grupo agarrenme el numero en tal posicion 

odd: seleccioname los impares
even: seleccioname los pares*/

.tablero__casilla{
    text-align: center;
    border: solid 1px #000 ;
}


.tablero__row:nth-child(even) .tablero__casilla:nth-child(odd) {
    background-color: #a78069;
}

.tablero__row:nth-child(odd) .tablero__casilla:nth-child(even) {
    background-color: #a78069;
}

.tablero__row:nth-child(even) .tablero__casilla:nth-child(even) {
    background-color: #ffe4c0;
}

.tablero__row:nth-child(odd) .tablero__casilla:nth-child(odd) {
    background-color: #ffe4c0;
}


.tablero__ficha{
    font-size: 3rem;
}



