$primary: #50322a;
$secondary: #faf3ed;
$danger: #ff0000;
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";



body{
    background-color: #faf3ed;
    font-family: 'Comic Neue', cursive;
    font-family: 'Kalam', cursive;
}



.fondo-inicio {
    background-color: #faf3ed;
}

.texto-primario{
    color: #50322a;
}

.borde-primario{
    background-color: #50322a;
    border-radius: 8px;
    color: #faf3ed;
    
}

.borde-primario:hover{
    background-color: #50322a;
    border-radius: 8px;
    color: #faf3ed;
    
}



.borde-segundo{

    
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
    
}
.borde-segundo:hover{
    
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
    
}

.titulillo{
    color: white;
   
}

.cabecera{
    background-color: #50322a;
    color: white;
  
}

.imagen {
    position: fixed;
    bottom: 0;
    
}

/* Agrego Styles Breiner */
.container-form-Bre{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form-h2-Bre{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form-p-Bre{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form-a-Bre{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #50322a;
    font-weight: 700;
}
.container-form form .campo-textarea-Bre{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #faf3ed;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form .btn-enviar-Bre{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #50322a;
    color: #faf3ed;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar-hover-Bre{
    background: #50322a;
}


/* Agrego Style Natalia */

.nata-count-productos {
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.nata-contar-productos {
    font-size: 12px;
}

.nata-container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.nata-item {
    border-radius: 10px;
}

.nata-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.nata-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 0.6s;
}

.nata-item figure {
    overflow: hidden;
}

.nata-item:hover img {
    transform: scale(1.3);
}

.nata-infor-producto {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nata-price {
    font-size: 10px;
    font-weight: 900;
}

.nata-infor-producto button {
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}