@keyframes corgis {
    0% {
        background-position: 0 0, 100% 0, 100% 0, 0 0;
    }

    100% {
        background-position: 100% 0, 0 0, 0 0, 100% 0;
    }
}

.basic-corgi-mode {
    animation: corgis 7s linear infinite; 
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/compra_confirmacion.png), url(../images/compra_confirmacion.png), url(.../images/compra_confirmacion.png), url(../images/compra_confirmacion.png);
    height: 120px;
  
}